DB_USER="root"
DB_PASSWORD="my-secret-pw"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="solisite"

DATABASE_URL="mysql://root:my-secret-pw@127.0.0.1:3306/solisite"
LDAP_URL=ldap://127.0.0.1:10389
NUXT_PUBLIC_SITE_URL=https://beta.solidaires-etudiant-e-s.org
UMANI="my-w3b517e-id"
